.timer-modal {
  background: #1c1e21;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1001;
  padding: 8vh;
  width: 80%;
  height: auto;
  max-width: 500px;
  max-height: 80%;

  p {
    font-size: 2rem;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
  }

  button {
    font-weight: 600;
    background-color: #bbf246;
    display: block;
    width: 80%;
    align-self: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 1);

    &:hover {
      background-color: #97c93b;
      color: #000;
    }
  }

  button:last-child {
    background-color: #da2b2b;
    color: #fff;

    &:hover {
      background-color: #b92525;
      color: #e9e9e9;
    }
  }
}

@media (max-width: 768px) {
  .timer-modal {
    padding: 5vh;
    width: 90%;
  }

  p {
    font-size: 1.5rem; 
  }

  button {
    font-size: 1rem; 
    padding: 12px;
  }
}
