.video-sent-modal {
  background: #1c1e21;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1001;
  padding: 5vh 8vh;
  width: 80%;
  height: auto;
  max-width: 500px;
  max-height: 80%;
  text-align: center;

  .emoji {
    font-size: 8rem;
  }

  .recorded {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  p {
    font-size: 2.5rem;
    font-weight: 700;

    .success {
      color: #bbf246;
      font-weight: bold;
    }
  }

  button {
    display: block;
    background-color: #bbf246;
    margin-top: 1rem;
    width: 100%;
    max-width: 70%;
    align-self: center;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 1);

    &:hover {
      background-color: #97c93b;
      color: #000;
    }
  }
}

@media (max-width: 768px) {
  .video-sent-modal {
    padding: 5vh 5vh;
    width: 90%;
  }

  .emoji {
    font-size: 6rem;
  }

  .recorded {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }
}
