.dashboard-sidebar {
  width: 80px;
  background-color: #000000;
  color: #9d9d9d;
  height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dashboard-logo {
    text-align: center;
    margin-bottom: 2rem;
  }

  nav {
    flex-grow: 1;
    display: flex;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        a,
        button {
          color: #adaaaa;
          display: flex;
          text-decoration: none;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          border-radius: 20%;
          cursor: pointer;
          background: none;
          border: none;
          transition: background-color 0.3s ease-in, color 0.3s ease-in;

          &:hover {
            color: #ffffff;
            background-color: #b3c73a;
          }

          &.active {
            color: #ffffff;
            background-color: #bbf246;
          }

          .iconify {
            font-size: 24px;
          }
        }

        &:last-child {
          margin-top: auto;
        }
      }
    }
  }
}
