$primary-color: #ffffff;
$secondary-color: #0c0c0c;
$highlight-color: #bbf246;
$error-color: #ff4d4d;
$background-color: #1c1e21;
$input-background: #2c2e31;
$border-color: #3a3d40;

.client-list-details-modal {
  background-color: $background-color;
  color: $primary-color;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  outline: none;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  .header-modal-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid $highlight-color;
    padding-bottom: 10px;

    h2 {
      font-weight: bold;
      text-transform: uppercase;
    }

    span {
      color: $highlight-color;
      text-decoration: none;
      font-weight: bold;
    }
    .iconify {
      cursor: pointer;
      font-size: 24px;
      color: $highlight-color;
    }
  }
  
  .client-info-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: darken($background-color, 3%);
    margin-bottom: 10px;
    border: 1px solid $border-color;

    &:hover {
      background-color: lighten($background-color, 5%);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .coach-info {
      display: flex;
      gap: 15px;
      align-items: center;
      flex-grow: 1;
    }
    
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $highlight-color;
    }

    .coach-info-card-right {
      h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        color: darken($primary-color, 20%);
      }
    }
  }

  .delete-button {
    background-color: $error-color;
    color: $primary-color;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: darken($highlight-color, 10%);
    }
    
    &:disabled {
      background-color: darken($highlight-color, 30%);
      cursor: not-allowed;
    }
  }
}