// DashboardHeader.scss

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;

  .greeting {
    p {
      font-size: 1.2rem;
      margin: 0;
      font-weight: 150;
    }
    h2 {
      font-size: 1.9rem;
      margin: 0;
      font-weight: 600;
      color: #fff;
    }
  }

  .header-icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .header-icon {
      font-size: 24px;
      cursor: pointer;

      &:hover {
        color: #bbf246;
      }
    }
  }
}