$background-color: #1c1e21;
$secondary-color: #fff;
$primary-color: #1c1e21;
$secondary-color: #d4d4d4;
$text-color: #ffffff;
$accent-color: #bbf246;


main {
  background-color: #1f1f1f;
  height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.workouts-container {
  padding: 20px;
  background-color: #1f1f1f;
  height: 100%;
  color: #ffffff;

  .dashboard-button-flex {
    display: flex;
    justify-content: space-between;
  }

  .date-input {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: $accent-color 2px solid;
    border-radius: 12px;
    padding: 17px;
    color: $accent-color;
  }
}
