// src/components/Modal/Modal.scss
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    border: 3px #3D3D3D solid;      
    box-shadow: 3px 5px #3D3D3D;

    

    .modal-flex{
        display: flex;
        justify-content: space-between;
    }

    
  
    h2 {
      margin-top: 0;
      color: #333;
      text-transform: capitalize;

    }
  
    h3 {
      color: #444;
    }
  
    p {
        text-transform: capitalize;
      color: #666;
      line-height: 1.2;
    }
  
    .add-workout-btn, .close-btn {
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 20px;
    }
  
    .add-workout-btn {
      background-color: transparent;
      border: 3px #3D3D3D solid;      
      box-shadow: 3px 5px #3D3D3D;
      color: #444;
      margin-right: 10px;
  
     
    }
  
 
  }