.exercise-title-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    border: 3px #3D3D3D solid;      
    box-shadow: 3px 5px #3D3D3D;
}