.coach-modal {
  background: #1c1e21;
  width: 450px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    z-index: 2;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
  }

  .coach-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      transparent 20%,
      transparent 80%,
      rgba(0, 0, 0, 0.5)
    ); // vignette effect on the sides
    pointer-events: none;
  }

  .coach-info {
    padding: 20px;
    text-align: center;
    flex-grow: 1;

    .coach-name {
      font-size: 1.5rem;
      margin-bottom: 12px;
      color: #f5f8f4;
    }

    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .collaborate-button {
      margin-top: 1rem;
      background-color: #bbf246;
      border: none;
      padding: 10px 20px;
      color: #000000;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #a0d63f;
      }
    }
  }
}
