.workout-card {
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px;
  
    h4 {
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        display: flex;
        align-items: center;
        color: #ffffff;
        padding: 0.75rem;
        background-color: #1C1E21;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }
  
        .exercise-details {
          display: flex;
          flex-direction: column;
  
          p {
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
          }
  
          span {
            font-size: 0.9rem;
            color: #9dacc1;
          }
        }
      }
    }
  }