$background-color: #1c1e21;
$secondary-color: #fff;
$primary-color: #1c1e21;
$secondary-color: #d4d4d4;
$text-color: #ffffff;
$accent-color: #bbf246;

// keep this to prevent having the white bg 
// if WorkoutCardDB is opened/extended :)
main{
  background-color: #1c1e21;
  overflow: hidden;

  // scrollbar style
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 18px;
  }

  &::-webkit-scrollbar-track {
    background: #333;
    border-radius: 18px;
  }
}

.dashboard-home-container {
  padding: 20px;
  background-color: #1f1f1f;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .greeting {
      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
      }
      p {
        font-size: 1.2rem;
        margin: 0;
        color: #9d9d9d;
      }
    }

    .header-icons {
      display: flex;
      gap: 20px;

      .header-icon {
        font-size: 24px;
        cursor: pointer;
        color: #ffffff;

        &:hover {
          color: #bbf246;
        }
      }
    }
  }

  .coach-section {
    margin-top: 30px;

    .coach-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #ffffff;
      }

      .see-more {
        font-size: 1rem;
        text-decoration: none;
        color: #bbf246;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .coach-slider {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      padding-bottom: 10px;
      scroll-behavior: smooth;

      .coach-card {
        flex-shrink: 0;
      }

      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #333;
        border-radius: 10px;
      }
    }
  }

  .dashboard-button-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
     .dashboard-flex {
      display: flex;
      gap: 10px;
    }

    .search-container {
      display: flex;
      align-items: center;
      background-color: transparent;
      border-radius: 14px;
      padding: 12px;
      width: 300px;
      border: $accent-color 2px solid;

      .search-icon {
        color: $accent-color;
        margin-right: 8px;
      }

      .search-input {
        border: none;
        outline: none;
        background-color: transparent;
        color: $accent-color;
        flex-grow: 1;
      }
    }

    .date-input {
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: transparent;
      border: $accent-color 2px solid;
      border-radius: 12px;
      padding: 17px;
      color: $accent-color;
    }

    .add-button {
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: $accent-color;
      color: $background-color;
      border: $accent-color 2px solid;
      border-radius: 12px;
      padding: 17px;
    }
  }
}
