.dashboard-sidebar {
  width: 330px;
  height: 100vh;
  background-color: #000;
  color: #9d9d9d;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dashboard-logo {
    text-align: center;
    margin-bottom: 2rem;
  }

  nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        height: 60px;
        
        &:last-child {
          margin-top: auto; // Pushes the last item (logout) to the bottom
        }

        .dashboard-link-flex {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%; // Ensures full width for alignment

          a,
          button {
            color: #adaaaa;
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            border-radius: 20%;
            background: none;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
              color: #fff;
              background-color: #b3c73a;
            }

            &.active {
              color: #fff;
              background-color: #bbf246;
            }

            .iconify {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .coach-info-flex {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      max-width: 50px;
      max-height: 50px;
      border-radius: 10px;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }
  }
  
  .error-message {
    color: red; // Added error styling
  }
}