main {
  background-color: #1f1f1f;
  height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.workouts-container {
  padding: 20px;
  background-color: #1f1f1f;
  height: 100%;
  color: #ffffff;

  .workout-flex {
    padding: 20px 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 110vh;
  }
}

.start-workout-btn {
  background-color: transparent;
  border: 2px solid #bbf246;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #bbf246;
    color: #1f1f1f;
  }
}


