.workouts-main {
    background-color: #1f1f1f;
    margin: 0;
  
    .workout-title-section {
      text-align: left;
      color: #fdfdfd;
      margin-bottom: 20px;
      padding: 10px 3%;
      background-color: #1f1f1f;
  
      p {
        color: #ffffff;
        font-size: 1.5rem;
      }
    }
  
    .workout-list-empty {
      height: 60vh;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      background-color: #1f1f1f;
    }
  
    .exercise-card {
      margin-bottom: 20px;
      padding: 0 10%;
      background-color: #1f1f1f;
  
      .exercise-table {
        width: 100%;
        font-size: 22px;
        border-collapse: collapse;
        margin: 10px 10px 30px 10px;
        background-color: #1f1f1f;
  
        .exercise-title {
          font-size: 24px;
          font-weight: bold;
          text-align: left;
          padding: 10px 0;
          padding-left: 7%;
        }
  
        .info-icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
  
          .info-icon {
            cursor: pointer;
            transition: color 0.3s ease;
  
            &:hover {
              color: #bbf246;
            }
          }
        }
  
        th,
        td {
          padding: 6px 10px;
          text-align: center;
        }
  
        th {
          color: #ffffff;
        }
  
        td {
          color: #fdfdfd;
        }
      }
    }
  
    .checkbox-container {
      position: relative;
      display: inline-block;
  
      input[type="checkbox"] {
        display: none;
      }
  
      .custom-checkbox {
        width: 22px;
        height: 22px;
        background-color: #1f1f1f;
        border: 2px solid #bbb;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &.checked {
          background-color: #bbf246;
          border-color: #bbf246;
        }
  
        &::after {
          content: "✔";
          font-size: 16px;
          background-color: transparent;
          color: black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          transition: transform 0.3s ease;
        }
      }
  
      input[type="checkbox"]:checked + .custom-checkbox::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }