$primary-color: #ffffff;
$secondary-color: #0c0c0c;
$highlight-color: #bbf246;
$background-color: rgba(0, 0, 0, 0.95); // Increased opacity for darker tint

.HomePage-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/fitup-background.png');
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
  }
}

.HomePage-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  
  h1 {
    font-size: 3.5rem; // Increased font size
    color: $primary-color;
    margin-bottom: 2rem;
    line-height: 1.2;
    font-weight: bold; // Added bold font weight

    .highlight {
      color: $highlight-color;
    }
  }

  button {
    width: 220px; // Slightly wider button
    height: 60px; // Slightly taller button
    background-color: $highlight-color;
    border: none;
    border-radius: 30px; // Adjusted for new height
    font-size: 1.3rem;
    font-weight: bold;
    color: $secondary-color;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($highlight-color, 10%);
    }
  }
}

@media (max-width: 768px) {
  .HomePage-Content {
    h1 {
      font-size: 2.5rem;
    }

    button {
      width: 180px;
      height: 50px;
      font-size: 1.1rem;
    }
  }
}